<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Course Confirmation</title>
    <link rel="stylesheet" href="newCourse.css"/>
</head>

<body>
    <h1>New Course Data</h1>
    <div>
        <strong>Course: </strong><%- name %>
            <br>
            <strong>Course number: </strong><%- num %>
                <br>
                <strong>GPA: </strong><%- gpa %>
                    <br>
                    <strong>Credit: </strong><%- credit %>
                    <br>
                    <strong>Course Type: </strong>
                    <%- type %>
                    <br>
    </div>
    <a href="back">RETURN</a>
    <a href="/">HOME</a>
</body>

</html>