<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Result</title>
    <link rel="stylesheet" href="tablelist.css"/>
</head>

<body>
    <h1>Display All Course and State</h1>

    <h2>Upper Level Concentration</h2>
    <div>
        <%- ULCtable %>
    </div>

    <h2>Lower Level Requirements</h2>
    <div>
        <%- LLRtable %>
    </div>

    <h2>Upper Level Requirements</h2>
    <div>
        <%- ULRtable %>
    </div>

    <h2>CMSC Electives</h2>
    <div>
        <%- Elective %>
    </div>

    <h2>Fundamental Studies</h2>
    <div>
        <%- FStable %>
    </div>

    <h2>Distributive Studies</h2>
    <div>
        <%- DStable %>
    </div>

    <h2>I-Series</h2>
    <div>
        <%- IStable %>
    </div>

    <h2>Diversity</h2>
    <div>
        <%- Diversity %>
    </div>
    <br>
    <hr>
    <br>
    <a href="/">HOME</a>
</body>

</html>